.meMessage{
  display: flex;
  align-items: center;
  justify-content: end;

  &__container{
    max-width: 60%;
    margin: 5px 10px;
    padding: 11px 12px;
    background: #212121;
    border-radius: 20px 20px 0px 20px;

    &__text{
      display: inline-block;
      margin: 0;
      word-wrap: break-word;
      white-space: pre-wrap;

    }
  }
  &__data{
    color: #FFFFFF;
    opacity: 0.4;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
}