.channels {
  display: flex;
  width: 70%;
}

.channels__container {
  display: flex;
  gap: 5px;
  overflow: hidden;
  margin-left: 10px;

  &__arr {
    position: relative;
    right: 0;
    display: flex;
    gap: 10px;
    transition: all ease 1s;
  }


  &__arrow {
    cursor: pointer;
    margin-left: 5px;
    position: relative;

    &__img {
      transition: 0.4s;
    }

    &__imgActive {
      transition: 0.4s;
      transform: rotate(180deg);
    }
  }
}

.channel {
  cursor: pointer;
  color: #23b838;
  &__active {
    color: white;
    border-bottom: 2px solid #23b838;
  }
}
