.chat {
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
  transition: all ease 0.4s;
  scroll-behavior: smooth;

  &__container {
    position: relative;
    bottom: 0;
    transition: all ease 0.4s;
  }
}
.chatHidden{
  display: none;
}
.chatLargeSize {
  height: 100%;
}

.chat::-webkit-scrollbar {
  width: 7px;
}

.chat::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}

.chat::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}
